html, body, #wrapper1, #wrapper2, #canvas-frame {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

header {
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

header > h2 {
	float: left;
	padding: 5px;
	margin: 0px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

header > ul > li {
	float: right;
}

header > ul > li > a {
	display: block;
	min-width: 60px;
	width: auto;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
}

header > ul > li > a:hover {
	background-color: #ccc;
}

#wrapper1, #wrapper2 {
	display: flex;
}

#wrapper1 {
	flex-direction: column;
}

#wrapper2 {
	flex: 1;
	overflow: hidden;
}

#frame {
	border: 0px solid;
	width: 34%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
}

#frame > h1 {
	margin-top: 0px;
}

#canvas-frame {
	position: relative;
	width: 66%;
}

canvas {
	width: 100%;
	height: 100%;
}

.contextmenu {
	position: absolute;
	display: none;
	border: 1px solid black;
	background-color: #eee;
}

.contextmenu > ul > li > a {
	display: block;
	width: 60px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: black;
}

.contextmenu > ul > li > a:hover {
	background-color: #ccc;
}

#fullscreen-hider {
	display: none; /* display: flex; when not hidden */
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

#fullscreen-hider > div {
	width: 600px;
}

#fullscreen-hider > div > header {
	padding: 10px;
	border: 1px solid black;
	border-bottom: 0px;
	background-color: #44c;
}

#fullscreen-hider > div > div {
	padding: 10px;
	border: 1px solid black;
	background-color: #fff;
}

#fullscreen-hider > div > div:after, #fullscreen-hider > div > div > label:after {
	content: '';
	display: block;
	clear: both;
}

#fullscreen-hider > div > div > input[type="button"] {
	float: right;
}

#fullscreen-hider textarea {
	min-width: 99%;
	max-width: 99%;
	min-height: 200px;
	max-height: 200px;
}

#edit-node textarea {
	resize: none;
}

/* resizer.js */

[data-rz-handle] {
    flex: 0 0 5px;
    background-color: #333;
}

[data-rz-handle] div {
    width: 5px;
    background-color: #333;
}